img {
    max-width: 100%;
    height: auto;
  }


body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin:0 ;
    padding: 0;
    line-height: 1.5;
}

header, footer{background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}

h1, h2, h3 {
    font-weight: 700;
  }
  h1{
    font-size: 2.5em;
  }
  
  p {
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.1em;
    margin-bottom: 15px;
  }


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content:center;
}


nav ul li a{
    text-decoration: none;
    color: rgb(31, 9, 233);
    list-style-type: circle;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  main article {
    flex: 3;
  }
  
  aside {
    flex: 1;
    padding: 1rem;
    background-color: #f4f4f4;
  }

  @media(
    max-width: 800px;
  )main{flex-direction: column;
  }
  aside{
    order: 1;
  }
  nav ul{
    flex-direction: column;
    text-align: center;
  }

  nav ul li{
    margin: 10px 0;
  }

  @media (max-width: 600px) {
    nav ul {
      display: none;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  }

  @media (min-width: 1024px) {
    main {
      flex-direction: row;
    }
  }
  a:hover {
    color: #48cae4;
    text-decoration: underline;
  }
  
  button:hover {
    background-color: #023e8a;
    color: white;
  }
  